<!-- <div class="card-container">
  <div class="logo">

  </div>

  <div class="card-content">
    <div class="names">
      <span class="names-title">Имена:&nbsp;</span>
      <span class="names-body">Николай Тодоров Монов</span>
    </div>
    <div class="health-id">
      <span class="health-id-title">Индивидуален здравен номер:&nbsp;</span>
      <span class="health-id-body">123123123123123</span>
    </div>
    <div class="validity">
      <div class="valid-from">
        <span class="valid-from-title">Валидна от:&nbsp;</span>
        <span class="valid-from-body">01.01.2022</span>
      </div>
      <div class="valid-through">
        <span class="valid-trough-title">До:&nbsp;</span>
        <span class="valid-trough-body">01.01.2023</span>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="card-info"></div>
    <div class="card-info-text"></div>
  </div>
</div> -->

<div class="card-container">
    <div class="names">
      <span class="title">Имена:&nbsp;</span>
      <span class="content">Николай Тодоров Монов</span>
    </div>
    <div class="health-id">
      <span class="title">Индивидуален здравен номер:&nbsp;</span>
      <span class="content">123123123123123</span>
    </div>
    <div class="validity">
      <div class="valid-from">
        <span class="title">Валидна от:&nbsp;</span>
        <span class="content">01.01.2022</span>
      </div>
      <div class="valid-through">
        <span class="title">До:&nbsp;</span>
        <span class="content">01.01.2023</span>
      </div>
    </div>
  </div>
