:host {
  .card-container {
    width: 343px;
    height: 222px;

    background: url('../../../assets/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }
}
